# Server Configuration
PORT=8080
GIN_MODE=debug

# MongoDB Configuration
MONGO_URI=YOUR_MONGODB_CONNECTION_STRING_HERE
MONGO_DB=live_polling_db

# Redis Configuration
REDIS_HOST=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
